/* Reset CSS */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
}